:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-Blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  /* Weights: 500, 600 */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: coral;
  width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "dc dc jw kw"
    "jh pa pa kw";
}

.testimonial {
  /* general class for all reivews */
  background-color: aqua;
  padding: 2.5rem;
  margin: 1.25rem;
  border-radius: 0.75rem;
}

.reviewer-details {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 2rem;
  height: auto;
}

.reviewer-name {
  font-size: 1rem;
}

.graduate {
  font-size: 0.9rem;
}

.main-review {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
}

.sub-review {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 500;
}

.daniel-clifford {
  grid-area: dc;
  background-color: var(--Purple-500);
  color: var(--Grey-100);
  position: relative;
}

.quote-img {
  position: absolute;
  top: 0;
  filter: brightness(110%);
  right: 12.5%;
  z-index: 0;
}

.daniel-clifford .main-review {
  position: relative;
  z-index: 1;
}

.daniel-clifford .reviewer-name {
  color: var(--Grey-100);
}

.daniel-clifford .graduate {
  color: var(--Grey-200);
}

.daniel-clifford .sub-review {
  color: var(--Grey-200);
  font-weight: 600;
}

.jonathan-walters {
  grid-area: jw;
  background-color: var(--Grey-500);
  color: var(--White);
}

.jonathan-walters .reviewer-name {
  color: var(--Grey-100);
}

.jonathan-walters .graduate {
  color: var(--Grey-200);
}

.jonathan-walters .sub-review {
  color: var(--Grey-200);
  font-weight: 600;
}

.jeanette-harmon {
  grid-area: jh;
  background-color: var(--White);
  color: var(--Grey-500);
}

.jeanette-harmon .graduate {
  color: var(--Grey-400);
}

.jeanette-harmon .sub-review {
  color: var(--Grey-400);
}

.patrick-abrams {
  grid-area: pa;
}

.kira-whittle {
  grid-area: kw;
}
